@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

.icon-links {
  display: flex;
  vertical-align: bottom;
}

html, body {
  padding-top: 20px;
}

body {
  background-color: #fdfdfd;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

img {
  max-height: 200px;
}

main {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20%;
}

p {
  text-align: left;
  margin: auto;
  max-width: 700px;
  font-size: 18px;
  line-height: 1.6;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

h1 {
  text-align: left;
  font-size: 2rem;
  max-width: 700px;
  font-weight: 900;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

a.icon-a {
  vertical-align: 10px;
}

.face {
  height: 20rem;
  display: block;
  position: relative;
  left: 10px;
  margin-bottom: 30px;
}

@media (max-width: 740px) {
  main {
    max-width: none;
    padding: 0;
  }

  p {
    font-size: 1.1rem;
  }

  #intro {
    column-gap: 1rem;
  }
}

/* layout */
#nav {
  display: flex;
  column-gap: 2.5rem;
  max-width: 700px;
  margin: auto;
  text-align: left;
}

/* global */
#intro {
  display: flex;
  max-width: 700px;
  text-align: left;
  align-content: flex-start;
  align-items: center;
  column-gap: 3rem;
  margin: auto;
}

h2 {
  font-size: 1.1rem;
}
